{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% macro render_todo(item) %}
<tr>
    <th scope="row">1</th>
    <td>{{ item.name }}</td>
    <td>
        {% if item.is_complete %}
        Completed
        {% else %}
        In Progress
        {% endif %}
    </td>
    <td>
        {% if not item.is_complete %}
        <form style='float: left; padding: 3px;' action="/">
            <button type="submit" class="btn btn-success ms-1" value="{{ item.id }}"
                onclick="req('PUT', {{ item.id }}, '{{ csrf_token() }}')">Finished</button>
        </form>
        {% endif %}
        <form style='float: left; padding: 3px;' action="/">
            <button type="submit" class="btn btn-danger" value="{{ item.id }}"
                onclick="req('DELETE', {{ item.id }}, '{{ csrf_token() }}')">Delete</button>
        </form>
    </td>
</tr>
{% endmacro %}


{% block content %}
<h1 class="display-1">Home</h1>
{% if current_user.is_authenticated %}
<h4>Hi {{current_user.username}}</h4>
<p>Welcome to CRUD.com, everyday we are trying to add more CRUD operations to the website and make it more lively as a
    whole</p>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card rounded-3">
            <div class="card-body p-4">

                <h4 class="text-center my-3 pb-3">To Do App</h4>

                <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2", method="POST" action="/todo">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="col-12">
                        <div class="form-outline">
                            <input type="text" id="form1" class="form-control" name="name"/>
                            <label class="form-label" for="form1">Enter a task here</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
                {% if items %}
                <table class="table mb-4">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Todo item</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        {{ render_todo(item) }}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
{% else %}
<h2>Your todo list is empty</h2>
{% endif %}
{% else %}
<h1>You are currently not logged in</h1>
<p>Please login to view your todo list</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/tasklist.js') }}"></script>
{% endblock %}