{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>Hi {{username}}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Information</th>
        </tr>
    </thead>
    <tbody>
        {% for type, info in user_data %}
        <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{type}}</td>
            <td>{{info}}</td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}